.card{
    background:var(--bg-secondary);
    border-radius:10px;
    overflow:hidden;
    transition:.3s;
}

.card:hover{
    transform:scale(1.05);
    box-shadow:0 10px 20px rgba(0,0,0,.5);
}

.img_gallery{
    aspect-ratio:2/3;
    object-fit:cover;
}
