.acciones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
}

.acciones a,
.acciones button,
.btn-volver,
.btn-agregar {
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.95em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.acciones a:hover,
.acciones button:hover,
.btn-volver:hover,
.btn-agregar:hover {
  transform: scale(1.05);
}

.btn-volver {
  background: #44405a;
}

.btn-volver:hover {
  background: #5b5675;
}

.btn-agregar {
  background: #4CAF50;
}

.btn-agregar:hover {
  background: #66BB6A;
}

.btn-editar {
  background: #6c63ff;
}

.btn-editar:hover {
  background: #837bff;
}

.btn-borrar {
  background: #c74b4b;
}

.btn-borrar:hover {
  background: #e05b5b;
}


.agregar-form button {
  grid-column: span 2;
  background: #6c63ff;
  border: none;
  padding: 12px;
  font-size: 1.05em;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.agregar-form button:hover {
  background: #837bff;
  transform: scale(1.03);
}

.editar-form button {
  grid-column: span 2;
  background: linear-gradient(90deg, #7b74ff, #5c52ff);
  border: none;
  padding: 12px;
  font-size: 1.05em;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.editar-form button:hover {
  background: linear-gradient(90deg, #8e87ff, #6f65ff);
  transform: scale(1.03);
}
