@media (min-width: 768px) {
    body {
        padding: 2rem;
    }

    #title-main {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    header {
        padding: 1rem;
    }

    #library, #catalog {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .menu-toggle {
        display: block;
    }

    .nav-menu{
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-menu.active {
        display: flex;
    }

    .btn-logout {
        width: 100%;
    }

    #details_media {
        grid-template-columns: 1fr;
    }

    .media-image {
        grid-row: auto;
    }

    .media-info {
        grid-column: auto;
    }

    .media-description {
        grid-column: auto;
    }

    #details_user {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-library {
        gap: 8px;
    }

    .btn-library, .search-library,
    .status-library, .order-library,
    .type-library {
        width: 100%;
    }

    .form_search {
        flex-direction: column;
        border-radius: 15px;
        padding: 12px;
    }

    #search_bar,
    #search_type,
    .btn_search {
        width: 100%;
    }

    .row-top {
        grid-template-columns: 1fr;
    }

    .pagination {
        justify-content: flex-start;
    }

    .pagination::-webkit-scrollbar {
        display: none;
    }

    .page-btn {
        padding: 6px 10px;
        font-size: 13px;
    }
}