{% extends 'base.html' %}
{%  block title %} {% endblock %}
{% block content %}

<div id="details_media">
    {% if media.portada %} <img src="{{ media.portada }}" alt="{{ media.titulo }}"> {% endif %}
    {% if media.titulo %} <h2 contenteditable="true">{{ media.titulo }}</h2> {% endif %}
    {% if media.autores %}
        {% for a in media.autores %}
            <h3> {{ a }}</h3>
        {% endfor %}
    {% endif %}
    {% if media.anio %} <p class="year"> {{ media.anio }} </p> {% endif %}
    {% if media.rating %} <p class="rating"> {{ media.rating }} </p> {% endif %}
    {% if media.descripcion or media.resumen %} <p class="resume" >{{ media.descripcion or media.resumen }}</p> {% endif %}
    {% if media.generos %}
        {% for g in media.generos[:3] %}
            <p class="genre"> {{ g }} </p>
        {% endfor %}
    {% endif %}
    {% if media.paginas %} <p> {{ media.paginas }} </p> {% endif %}
</div>

<form method="POST" action="{{ url_for('media.actualizar', media_id=media.id_api) }}">
    <input type="text" placeholder="Ingrese el titulo" name="title" id="title">
    {% for genre in generos %}
    <label class="checkbox-btn">
        <input type="checkbox" name="generos" id="genres" value="{{genre}}">
        <span>{{genre}}</span>
    </label>
    {% endfor %}
    <input type="text" placeholder="Ingrese el id" name="id" id="id" required>
    <button type="submit">Actualizar</button>
</form>
    


{% endblock %}