{% extends 'base.html' %}
{% block title %} Agregar Media {% endblock %}
{% block content %}

<div id="details_media">
    {% if media.portada %} <img src="{{ media.portada }}" alt="{{ media.titulo }}"> {% endif %}
    {% if media.titulo %} <h2>{{ media.titulo }}</h2> {% endif %}
    {% if media.autores %}
        {% for a in media.autores %}
            <h3> {{ a }}</h3>
        {% endfor %}
    {% endif %}
    {% if media.anio %} <p class="year"> {{ media.anio }} </p> {% endif %}
    {% if media.descripcion or media.resumen %} <p class="resume" >{{ media.descripcion or media.resumen }}</p> {% endif %}
    {% if media.generos %}
        {% for g in media.generos[:3] %}
            <p class="genre"> {{ g }} </p>
        {% endfor %}
    {% endif %}
    {% if media.estado %} <p> {{ media.estado }} </p> {% endif %}
    {% if media.formato %} <p> {{ media.formato }} </p> {% endif %}
    {% if media.tipo %} <p> {{ media.tipo }} </p> {% endif %}
    {% if media.paginas %} <p> {{ media.paginas }} </p> {% endif %}
    {% if media.temporada %} <p> {{ media.temporada }} </p> {% endif %}
</div>

<div id="user_input">
    <form id="user_form" method="post">
        <input type="text" placeholder="Ingrese el usuario" name="usuario" id="user" value="Angelus" required>
        <input type="number" min="5.0" max="9.9" step="0.1" name="puntuacion" id="score" value="5.0">
        <select name="estado" id="status">
            <option value="en_progreso"> En progreso </option>
            <option value="pendiente"> Pendiente </option>
            <option value="finalizado"> Completado </option>
            <option value="planeado"> Planeado </option>
            <option value="abandonado"> Abandonado </option>
        </select>
        <input type="text" name="reseña" placeholder="Ingrese su Opinion" id="review">
        <input type="text" placeholder="Ingrese el titulo" name="title" id="title">
        {% for genre in generos %}
            <label class="checkbox-btn">
                <input type="checkbox" name="generos" id="genres" value="{{genre}}">
                <span>{{genre}}</span>
            </label>
        {% endfor %}
        <button type="submit" id="btn_user_form">Agregar</button>
    </form>
</div>

{% endblock %}