{% extends 'base.html' %}
{% block title %} Agregar Media {% endblock %}
{% block content %}

<div id="details_media">
    {% if media.portada %}
    <div class="media-image">
        <img src="{{ media.portada }}" alt="{{ media.titulo }}">
    </div>
    {% endif %}

    <div class="media-info">
        
        {% if media.titulo %}
        <h2>{{ media.titulo }}</h2>
        {% endif %}

        <div class="row-inline">
            {% if media.autores %}
                {% for a in media.autores %}
                <span class="author">{{ a }}</span>
                {% endfor %}
            {% endif %}

            {% if media.anio %}
            <span class="year">{{ media.anio }}</span>
            {% endif %}

        </div>

        {% if media.generos %}
        <div class="row-inline">
            {% for g in media.generos[:3] %}
            <span class="genre">{{ g }}</span>
            {% endfor %}
        </div>
        {% endif %}

        <div class="row-inline">
            {% if media.estado %}
            <span>{{ media.estado }}</span>
            {% endif %}

            {% if media.formato %}
            <span>{{ media.formato }}</span>
            {% endif %}

            {% if media.tipo %}
            <span>{{ media.tipo }}</span>
            {% endif %}

            {% if media.paginas %}
            <span>{{ media.paginas }}</span>
            {% endif %}

            {% if media.temporada %}
            <span>{{ media.temporada }}</span>
            {% endif %}

        </div>

        {% if media.descripcion or media.resumen %}
        <div class="media-description">
            {{ media.descripcion or media.resumen }}
        </div>
        {% endif %}
    </div>
</div>

<div id="user_input">
    <form id="user_form" method="post">
        <div class="row-top">
            <input type="text" placeholder="Ingrese el titulo" name="title" id="title">
            <input type="number" min="5.0" max="9.9" step="0.1" name="puntuacion" id="score" value="5.0">
            <select name="estado" id="status">
                <option value="en_progreso">En progreso</option>
                <option value="pendiente">Pendiente</option>
                <option value="finalizado">Completado</option>
                <option value="planeado">Planeado</option>
                <option value="abandonado">Abandonado</option>
            </select>
        </div>
        <textarea name="reseña" placeholder="Ingrese su Opinion" id="review"></textarea>
        <details class="genres-dropdown">
            <summary>Seleccionar géneros</summary>
            <div class="genre-container">
                {% for genre in generos %}
                <label class="checkbox-btn">
                    <input type="checkbox" name="generos" value="{{genre}}">
                    <span>{{genre}}</span>
                </label>
                {% endfor %}
            </div>
        </details>
        <button type="submit" id="btn_user_form">Agregar</button>
    </form>
    </div>
    

{% endblock %}