{% extends 'base.html' %}
{% block title %} Biblioteca {% endblock %}
{% block content %}


<form class="form-library" method="POST">
    <input type="text" name="title" placeholder="Busqueda por titulo" id="search-bar-library">
    <select name="type" id="type-bar-library">
        <option value="anime"> Anime </option>
        <option value="dorama"> Dorama </option>
        <option value="libro"> Libro </option>
        <option value="manga"> Manga </option>
        <option value="pelicula"> Pelicula </option>
        <option value="serie"> Serie </option>
        <option value="videojuego"> Videojuego </option>
    </select>
    <button type="submit">Buscar</button>     
</form>
<div id="library">
    {% for item in library %}
            <a class="card-library" href="{{ url_for('library.detalles', id=item.id) }}">
                <img class="img_gallery" src="{{ item.portada }}" alt="{{ item.titulo }}">
                <div class="card-library-info">
                    <h3>{{ item.titulo }}</h3>
                    <h4>{{ item.categoria }}</h4>
                    <h4>{{ item.puntaje }}</h4>
                        {% if item.generos %}
                            <div class="tags">
                                {% for g in item.generos[:3] %}
                                    <span class="tag">{{ g }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
            </a>
    {% endfor %}
</div>

{% endblock %}