{% extends 'base.html' %}
{% block title %} Biblioteca {% endblock %}
{% block content %}


<form class="form-library" method="GET">
    <input type="text" name="title" placeholder="Busqueda por titulo" class="search-library">
    <select name="type" class="type-library">
        <option value="todos" {% if tipo == 'todos' %}selected{% endif %}> Todos </option>
        <option value="anime" {% if tipo == 'anime' %}selected{% endif %}> Anime </option>
        <option value="dorama" {% if tipo == 'dorama' %}selected{% endif %}> Dorama </option>
        <option value="libro" {% if tipo == 'libro' %}selected{% endif %}> Libro </option>
        <option value="manga" {% if tipo == 'manga' %}selected{% endif %}> Manga </option>
        <option value="pelicula" {% if tipo == 'pelicula' %}selected{% endif %}> Pelicula </option>
        <option value="serie" {% if tipo == 'serie' %}selected{% endif %}> Serie </option>
        <option value="videojuego" {% if tipo == 'videojuego' %}selected{% endif %}> Videojuego </option>
    </select>
    <select name="status" class="status-library">
        <option value="pendiente" {% if estado == 'pendiente' %}selected{% endif %}> Pendiente </option>
        <option value="en_progreso" {% if estado == 'en_progreso' %}selected{% endif %}> En progreso </option>
        <option value="finalizado" {% if estado == 'finalizado' %}selected{% endif %}> Completado </option>
        <option value="abandonado" {% if estado == 'abandonado' %}selected{% endif %}> Abandonado </option>
        <option value="planeado" {% if estado == 'planeado' %}selected{% endif %}> Planeado</option>
    </select>
    <select name="order" class="order-library">
        <option value="id" {% if orden == 'id' %}selected{% endif %}>Recientes 🆕</option>
        <option value="antiguos" {% if orden == 'antiguos' %}selected{% endif %}>Antiguos</option>
        <option value="popular" {% if orden == 'popular' %}selected{% endif %}>Puntuacion ⬆️ </option>
        <option value="unpopular" {% if orden == 'unpopular' %}selected{% endif %}>Puntuacion ⬇️</option>
    </select>
    <button type="submit" class="btn-library">Buscar</button>     
</form>

<div id="library">
    {% for item in library %}
            <a class="card-library" href="{{ url_for('library.detalles', id=item.id) }}">
                <img class="img_gallery" src="{{ item.portada }}" alt="{{ item.titulo }}">
                <div class="card-library-info">
                    <h3>{{ item.titulo }}</h3>
                    <h4>{{ item.categoria }}</h4>
                    <h4>{{ item.puntaje }}</h4>
                        {% if item.generos %}
                            <div class="tags">
                                {% for g in item.generos[:3] %}
                                    <span class="tag">{{ g }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
            </a>
    {% endfor %}
</div>

<div class="pagination">
    {% if page > 1 %}
    <a  class="page-btn"
        href="/biblioteca?page={{page-1}}{% if titulo %}&title={{titulo}}{% endif %}{%if tipo%}&type={{tipo}}{% endif %}{% if estado %}&status={{estado}}{% endif %}{% if orden %}&order={{orden}}{% endif %}"> ⬅️ 
    </a>
    {% endif %}

    {% if start_page > 1 %}
    <a  class="page-btn"
        href="/biblioteca?page=1
        {% if titulo %}&title={{titulo}}{% endif %}{%if tipo%}&type={{tipo}}{% endif %}{% if estado %}&status={{estado}}{% endif %}{% if orden %}&order={{orden}}{% endif %}"> 1 
    </a>
        <span class="dots">...</span>
    {% endif %}

    {% for p in range(start_page, end_page + 1) %}
    <a  class="page-btn {% if p == page %}active{% endif %}"
        href="/biblioteca?page={{p}}{% if titulo %}&title={{titulo}}{% endif %}{%if tipo%}&type={{tipo}}{% endif %}{% if estado %}&status={{estado}}{% endif %}{% if orden %}&order={{orden}}{% endif %}"> {{ p }} </a>
    {% endfor %}

    {% if end_page < total_pages %}
    <span class="dots">...</span>
    <a  class="page-btn"
        href="/biblioteca?page={{total_pages}}{% if titulo %}&title={{titulo}}{% endif %}{%if tipo%}&type={{tipo}}{% endif %}{% if estado %}&status={{estado}}{% endif %}{% if orden %}&order={{orden}}{% endif %}"> {{ total_pages}} 
    </a>
    {% endif %}

    {% if page < total_pages %}
    <a  class="page-btn"
        href="/biblioteca?page={{page+1}}{% if titulo %}&title={{titulo}}{% endif %}{%if tipo %}&type={{tipo}}{% endif %}{% if estado %}&status={{estado}}{% endif %}{% if orden %}&order={{orden}}{% endif %}"> ➡️ 
    </a>
    {% endif %}
</div>

{% endblock %}