{% extends 'base.html' %}
{% block title %} {{media.titulo}} {% endblock %}
{% block content %}

<div id="details_media">
    {% if media.portada %}
    <div class="media-image">
        <img src="{{ media.portada }}" alt="{{ media.titulo }}">
    </div>
    {% endif %}

    <div class="media-info">
        {% if media.titulo %}
        <h2>{{ media.titulo }}</h2>
        {% endif %}


        <div class="row-inline">
            {% if media.autores %}
                {% for a in media.autores %}
                <span>{{ a }}</span>
                {% endfor %}
            {% endif %}

            {% if media.anio %}
            <span>{{ media.anio }}</span>
            {% endif %}

            {% if media.rating or media.puntuacion %}
            <span class="rating">{{ media.rating or media.puntuacion }}</span>
            {% endif %}
        </div>

        {% if media.generos %}
        <div class="row-inline">
            {% for g in media.generos[:3] %}
            <span class="genre">{{ g }}</span>
            {% endfor %}
        </div>
        {% endif %}

        {% if media.plataforma %}
        <div id="row-inline">
            {% for p in media.plataforma[:3] %}
            <span class="genre">{{ p }}</span>
            {% endfor %}
        </div>
        {% endif %}

        <div class="row-inline">
            {% if media.paginas %}
            <span>{{ media.paginas }} páginas</span>
            {% endif %}

            {% if media.tipo %}
            <span>{{ media.tipo }}</span>
            {% endif %}
        </div>
    </div>

    {% if media.descripcion or media.resumen %}
    <div class="media-description">
        {{ media.descripcion or media.resumen }}
    </div>
    {% endif %}
</div>


<div id="details_user">
    {% if media.estado_usuario %} <h4 id="user-status"> {{ media.estado_usuario }} </h4> {% endif %}
    {% if media.puntaje %} <h3 id="user-score"> {{ media.puntaje }} </h3> {% endif %}
    {% if media.opinion %} <p id="user-review"> {{ media.opinion }} </p> {% endif %}
</div>

<div id="edit">
    <button id="edit-btn">Editar</button>
    <form action="{{ url_for('media.eliminar', media_id=media.id) }}" method="post" onsubmit="return confirm('¿Seguro que deseas borrar este elemento?');">
        <button type="submit" class="btn-borrar">🗑️ Borrar</button>
    </form>
</div>

<div id="modal">
	<div id="modalContent">
		<select id="edit-status">
			<option value="">Ninguno</option>
			<option value="en_progreso"> En progreso </option>
			<option value="pendiente"> Pendiente </option>
			<option value="finalizado"> Completado </option>
			<option value="planeado"> Planeado </option>
			<option value="abandonado"> Abandonado </option>
		</select>

		<input type="number" min="5.0" max="9.9" step="0.1" id="edit-score" value="5.0" placeholder="Puntuaje">

		<textarea id="edit-review" placeholder="Opinion"></textarea>

		<button id="save-btn">Guardar</button>
		<button id="close-btn">Cerrar</button>
	</div>
</div>

<div id="media-container" data-id="{{ media.id }}"></div>

<script src="{{ url_for('static', filename='js/update.js') }}"></script>
{% endblock %}