{% extends 'base.html' %}
{% block title %}Inicio - Biblioteca{% endblock %}
{% block content %}
  <h1>INFIDB</h1>
  <h2>Elige una categoría</h2>
  <div class="menu-grid">
    <a class="menu-item" href="{{ url_for('multimedia_routes.ver_multimedia', tipo='libros') }}">📖 Libros</a>
    <a class="menu-item" href="{{ url_for('multimedia_routes.ver_multimedia', tipo='animes') }}">🎥 Animes</a>
    <a class="menu-item" href="{{ url_for('multimedia_routes.ver_multimedia', tipo='peliculas') }}">🎬 Películas</a>
	<a class="menu-item" href="{{ url_for('multimedia_routes.ver_multimedia', tipo='dramas') }}">Dramas</a>
	<a class="menu-item" href="{{ url_for('multimedia_routes.ver_multimedia', tipo='mangas') }}">Mangas</a>
  </div>
{% endblock %}
