/* --- Sección de Búsqueda --- */
#search {
    margin: 2rem 0 3rem 0;
    display: flex;
    justify-content: center;
}
    
.form_search {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    background: #1e1e1e;
    padding: 8px;
    border-radius: 50px;
    border: 1px solid #333;
    flex-wrap: wrap;
}
    
#search_bar {
    flex: 4;
    min-width: 0;
    min-height: 42px;
    background: transparent;
    border: none;
    padding: 0.8rem 1.5rem;
    color: white;
    font-size: 1rem;
    outline: none;
}
    
#search_type {
    flex: 1;
    background: #2a2a2a;
    color: white;
    border: none;
    padding: 0 1rem;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    min-width: 120px;
    min-height: 42px;
}

/*  Barra de busqueda de la biblioteca*/
.form-library {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 3rem;
    background: #1a1a1a;
    padding: 1.5rem;
    border-radius: 10px;
    align-items: center;
    border: 1px solid #333;
}

.search-library {
    grid-column: span 2 / span 2;
}

.type-library {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
}

.status-library {
    grid-row-start: 3;
}

.order-library {
    grid-row-start: 3;
}

.search-library {
    background: #252525;
    border: 1px solid #444;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    color: white;
    outline: none;
}

.type-library, .status-library,
.order-library {
    background: #252525;
    border: 1px solid #444;
    padding: 0.8rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
 }
    
.btn-library {
    grid-column: span 2 / span 2;
    background: #e50914;
    color: white;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}
    
.button-library:hover {
    background: #cccccc;
}